.calculator-title {
  font-weight: bolder;
}

.calculator-dis {
  margin: 0 auto;
  background-color: rgb(211, 211, 235);
  padding: 10px;
  border: 1px solid gray;
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(6, 30px);
  gap: 20px 20px;
  justify-content: center;
}



.display {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  border: 1px solid;
  padding-right: 5px;
  text-align: right;
}

.increament {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.decreament {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.multiple {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.seven {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.eight {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.night {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.four {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.five {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.six {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.one {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.two {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.three {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.zero {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.clear {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  background-color: rgb(161, 161, 245);
}

.equal {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  background-color: olive;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.btn {
  border: 0;
  color: white;
}

.btn1 {
  border: 0;
  color: black;
}